/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Estilos para las mesas */
.mesa {
    background-color: #e0f2e9;
    border: 1px solid #4CAF50;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    margin: 10px;
}

/* Estilos para los inputs y labels */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
